*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    margin: 0px auto;
    width: 100%;
    box-sizing: border-box;
}

html {
  // This defines what 1rem is.
  font-size: 62.5%; // 1rem = 10px;
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.4rem;
  padding: 5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}